.acerca-de {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	.grid {
		width: 80%;
		display: grid;
		grid-template-columns: 1.5fr 2fr;
		gap: clamp(20px, 3vw, 40px);
		.col-1 {
			.fotos {
				display: flex;
				justify-content: flex-end;
				position: sticky;
				top: 20px;
				.foto {
					padding: 6px;
					border-radius: 10px;
					border: 1px solid var(--shade-3);

					.dark & {
						border: 1px solid var(--shade-8);
					}

					&:nth-child(1) {
						width: 80%;
					}
					&:nth-child(2) {
						width: 40%;
						height: 40%;
						object-fit: cover;
						object-position: top center;
						position: absolute;
						left: 0;
						bottom: -15%;
					}
				}
			}
		}
		.col-2 {
			display: flex;
			flex-direction: column;
			gap: 20px;
			align-items: start; /*corrige el boton*/

			.pre-titulo {
				color: var(--primario);
				font-size: 16px;
				font-weight: 600;
			}

			.titulo {
				font-size: 27px;
				.dark & {
					color: var(--shade-2);
				}
			}

			.resumen {
				color: var(--shade-7);
				line-height: 26px;

				.dark & {
					color: var(--shade-3);
				}

				p {
					&:nth-child(1) {
						margin-bottom: 18px;
					}
				}
			}
		}
		@media screen and (max-width: 490px) {
			& {
				grid-template-columns: 1fr;

				.col-1 {
					margin-bottom: 60px;
					.fotos {
						justify-content: center;
						.foto {
							&:nth-child(1) {
								width: 60%;
							}
							&:nth-child(2) {
								width: 35%;
								height: 45%;
								left: 55%;
								bottom: -20%;
							}
						}
					}
				}
				.col-2 {
					align-items: center;
					.pre-titulo,
					.titulo {
						/* align-items: center; */
						text-align: center;
					}
				}
			}
		}
	}
}
