.clientes {
	@media screen and (max-width: 497px) {
		& {
			padding: 30px 5px;
		}
	}

	.logos {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;

		.logo {
			border-radius: 10px;
			max-width: 160px;
			/* overflow: hidden; */
			width: 100%;
			@media screen and (max-width: 973px) {
				& {
					max-width: 130px;
				}
			}
		}
	}
}
