.contacto {
	.formulario {
		/* background: gray; */
		width: 75%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;

		.grupo-formulario {
			display: flex;
			flex-direction: column;
			gap: 5px;

			&.mensaje {
				grid-column: 1/-1;
			}

			&.error {
				grid-column: 1/-1;
				background: var(--primario);
				color: white;
				padding: 16px;
				border-radius: 5px;
				font-weight: 500;
			}

			&.enviar {
				grid-column: 1/-1;
				.btn {
					display: flex;
					justify-content: center;
				}
			}

			label {
				font-size: 14px;
				font-weight: 500;
			}

			input,
			textarea {
				width: 100%;
				padding: 15px;
				border-radius: 5px;
				border: none;
				font-size: 16px;
				font-family: "Roboto", sans-serif;

				&:hover,
				&:focus {
					outline: 2px solid gray;
				}
			}

			textarea {
				resize: vertical;
				min-height: 80px;
				max-height: 250px;
			}
		}

		.dark & {
			.grupo-formulario {
				input,
				textarea {
					background: var(--shade-8);
					color: white;
				}
			}
		}

		@media screen and (max-width: 768px) {
			& {
				width: 100%;
			}
		}
		@media screen and (max-width: 576px) {
			& {
				grid-template-columns: 1fr;
			}
		}
	}
}
